<div class="wrapper">
<article class="create__post">
    <h1>Erstelle einen Eintrag</h1>
    <section class="row">
        <section class="input">
            <label for="employee">Bearbeiter:</label>
            <input type="text" name="employee">
        </section>
        <section class="input">
            <label for="type">Typ:</label>
            <select name="type" id="">
                <option value="wartung">Wartung</option>
                <option value="störung">Störung</option>
            </select>
        </section>
    </section>
    <section class="row">
        <section class="input">
            <label for="priority">Priorität:</label>
            <select name="priority" id="">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
        </section>
        <section class="input">
            <label for="date-today">Datum:</label>
            <input type="date" name="date-today">
        </section>
        <section class="input">
            <label for="date-fulfilled">Bearbeitet:</label>
            <input type="date" name="date-fulfilled">
        </section>
    </section>
    <section>
        <h2>Beschreibung</h2>
        <div>
            <input name="desc" type="text" class="desc"/>
        </div>
    </section>
    <button class="btn">Erstellen</button>
</article>
</div>