.create__post {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.heading {
    font-size: 3rem;
    font-weight: 400;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 0 0;
}

input {
    height: 2em;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
}

label {
    margin: 0 0 0.3em;
}

select {
    height: 2.4em;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
}

.row {
    display: flex;
}

.desc {
    height: 20em;
    width: 100%;
    padding: 0;
    resize: none;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
}

.btn {
    margin: 1em 0 0 0;

    
}
.btn__submit {
    margin: 0 0 0 auto;
    float: right;
    border: none;
    border-radius: 5px;
    padding: 0.5em 2em;
    background-color: #0a88f0;
    color: white;
    font-size: 1.2rem;
}

.wrapper {
    display: grid;
    place-items: center;
    padding: 5em 20em;
}